body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #838383;
	color: #333;
}

header {
	background-color: #2b2d42;
	color: white;
	padding: 20px 0;
	text-align: center;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

section {
	padding: 20px 0;
}

.bio,
.content,
.disclosure {
	background-color: white;
	padding: 20px;
	margin: 20px 0;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cta-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #2b2d42;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
}

.cta-button:hover {
	background-color: #1a1c31;
}
